li {
    list-style: none;
}

li.disconnection-message span {
    color: red;
}

li.connection-message span {
    color: green;
}

canvas#gameCanvas {
    width: 600px;
    height: 400px;
}

.correct {
    color: #2ecc71;
    font-weight: bold;
}