// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
@import "../abstracts/variables";

input[type=button], input[type=submit], button {
    border-radius: 8px;
    border: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 1rem;
    font-weight: 600;
    transition: filter 0.3s ease;
}

input[type=button]:hover, input[type=submit]:hover, button:hover {
    filter: brightness(110%);
}

input[type=text] {
    border-radius: 8px;
    height: 40px;
    padding-left: 10px;
    
}

.brush-btn{

    &.active {
        border: 2px solid #000 !important;
        transform: scale(1.1) !important;
    }
}

input#clearBtn {
    background-color: #e74c3c;
    color: white;
}

input#undoBtn {
    background-color: #e7b43c;
    color: white;
}

input#sendBtn {
    background-color: rgb(33, 140, 255);
    color: white;
}

input#joinBtn {
    background-color: rgb(33, 140, 255);
    color: white;
}


button#startGameBtn {
    background-color: rgb(19, 203, 83);
    color: white;
}