// -----------------------------------------------------------------------------
// This file contains all styles related to the chatbox component.
// -----------------------------------------------------------------------------
@import "../abstracts/variables";

div.chat-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;

    div#timer {
        font-size: 5rem;

        display: flex;
        align-items: center;
    }

    ul.chat-box {
        margin: 0;
        padding: 0 0 10px 0;

        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex-grow: 1;
        justify-content: flex-end;
        // overflow-y: auto;
        overflow: hidden; /* Prevent scrolling */
        scrollbar-gutter: stable;

        li {
            display: flex;
            justify-content: left;
            width: 100%;
            min-height: 40px;
            border-radius: 6px;
            line-height: 1.4;
            border: none;
            flex-direction: column;

            .chat-box .player-message {
                word-break: break-word;
            }
        }

        li.message {
            min-height: 60px;
        }

        li.correct {
            border: #2ecc71 solid 2px;
            padding: 10px;
            min-height: 85px;
        }

        li.disconnection-message {
            display: flex;
            justify-content: center;
            color: red;
            background-color: rgba($color: red, $alpha: 0.3);

            span {
                display: flex;
                align-items: center;
                padding-left: 10px;
            }
        }

        li.connection-message {
            display: flex;
            justify-content: center;
            color: green;
            background-color: rgba($color: green, $alpha: 0.3);

            span {
                display: flex;
                align-items: center;
                padding-left: 10px;
            }
        }

        li.message {
            display: flex;
            flex-direction: column;

            span {
                display: flex;
                justify-content: space-between;
                align-items: center;

                span.player {
                    font-size: 1.5rem;
                    font-weight: 600;
                }

                span.time {
                    font-size: 1rem;
                    opacity: 0.5;
                }
            }
        }
    }

    // top line
    ul.chat-box::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px; /* Thickness of the line */
        background-color: lightgrey; /* Color of the line */
    }

    // bottom line
    .chat-box::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px; /* Thickness of the line */
        background-color: lightgrey; /* Color of the line */
    }

    div {
        display: flex;
        flex-direction: column;
        gap: 10px;

        form.chat-form {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 10px;
        }

        button#startGameBtn {
            width: 100%;
        }
    }
}

.correct {
    color: #2ecc71;
    font-weight: bold;
}
