// -----------------------------------------------------------------------------
// This file contains all styles related to the canvas component.
// -----------------------------------------------------------------------------
@import "../abstracts/variables";

div.drawing-area {
    height: 100%;
    canvas#gameCanvas {
        width: 900px;
        height: 600px;
    }
}

