// -----------------------------------------------------------------------------
// This file contains all styles related to the login component.
// -----------------------------------------------------------------------------
@import "../abstracts/variables";

div.login-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form#join-form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

}